<config template="project (default)" platform="project">Created: Fri Jul 25 01:50:31 2014
By: marti_000
Using Template: project (default)

&lt;description to go here>
<option name="icon" value="" fromDef="true"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="data/app.icf" fromDef="true"/>
    <option name="name" value="ThePuzzleGame" fromDef="true"/>
    <option name="caption" value="ThePuzzleGame" fromDef="true"/>
    <option name="provider" value="marti_000" fromDef="true"/>
    <option name="copyright" value="(C) marti_000" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
</config>
